li{
    margin-right: 0.7rem;
    display: inline;

}
ul{
    display: inline;
}
h1{
    display: inline;
    margin-right: 20rem;

}
nav{
    background-color:#134b42 ;
    color:#AEBA8A ;
    padding: 5px;
}
a {
    color: #EEA83B ; 
    text-decoration: none; 
}
a:hover {
    color:#AEBA8A;
}
a:active{
    color:#CA763B ;
}

button{
    display: inline;
    margin-left: 50px;
}



